audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 150px;
    height: 15px;
}

/*
#player {
 width: 50%;
 height: 50%;
}

audio {
    transform: scale(0.5);
}
/*
